build/

install/

log/

moje_build_logs/

components/

jetbot2/

mobilny_robot/

*.gv

*.pdf

/.idea/.gitignore
/.idea/discord.xml
/.idea/misc.xml
/.idea/ros2_ws.iml
/.idea/vcs.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml