<?xml version="1.0"?>
<model>
    <name>jetbot</name>
    <version>1.0</version>
    <sdf version="1.5">jetbot.sdf</sdf>

	<author>
		<name>Marek Pastor</name>
		<email>mpastor2@student.umb.sk</email>
	</author>

	<description>
		Riadenie mobilnej robotickej platformy JetBot pocitacom Jetson Nano.
	</description>
</model>